body {
	position: relative;
}

.loading {
	position: absolute;
	top: 0;
	right: 50%;
	bottom: 0;
	left: 0;
	background: #1f2028;
	z-index: 9999;
	transition: all ease 0.2s;
	animation: open-up 0.5s linear forward;
}

.loading:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 100%;
	background: #000;
}

.loading-text {
	position: absolute;
	left: 100%;
	width: 100%;
	height: 100px;
	line-height: 100px;
	transform: translateX(-50%);	
	z-index: 9998;
	span {
		display: inline-block;
		margin: 0 5px;
		color: #fff;
		@for $i from 0 through 6 {
			&:nth-child(#{$i + 1}) {
				filter: blur(0px);
				animation: blur-text 0.5s (#{$i/5})+s infinite linear alternate;
			}
		}
	}
}

@keyframes blur-text {
	0% {filter: blur(0px);}
	100% {filter: blur(2px);}
}

@keyframes open-up {
	0% {
		transform: translateX(-50%);	
	}
	100% {
		transform: translateX(-50%);	
	}
}

